* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f8f9fa;
}

.create-watchlist-container{
 width: 98%;
 display: flex;
 justify-content: flex-end;
}

.create-watchlist-btn{
  width: 20%;
}

.subContainer{
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  /* border: #007bff solid 1px; */
}

h1{
  margin: 1rem;
}

.input-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: #007bff solid 1px; */
}

.input-group-2 {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* border: #007bff solid 1px; */
}

@media screen and (max-width: 768px) {
  .create-watchlist-btn {
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .create-watchlist-container{
    justify-content: center;
    margin-bottom: 1rem;
  }
  .create-watchlist-btn {
    width: 80%;
  }

  .input-group{
    width: 80%;
  }

  .input-group-2 {
    width: 80%;
  }
}

.checkbox{
  box-shadow: none
}

label {
  font-weight: bold;
  margin: 0 0 5px 0; 
  color: #282828;
}


input {
  padding: 15px;
  width: 100%;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.submit {
  margin-top: 10px;
  margin-bottom: 2rem;
  padding: 15px 20px;
  border: none;
  width: 40%;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.span{
  margin: 1rem 0 1rem 0;
  width: 99%;
  border: #282828 solid 1px;
}

.watchlist-select {
  border: 1px solid #ccc; /* Add a subtle border for better distinction */
  width: 80%;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 12px; /* Reduce padding slightly for a cleaner look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust box shadow for a softer effect */
  font-size: 1rem; /* Increase font size for better readability */
  outline: none;
  background-color: #fff; /* Ensure a white background for better contrast */

}

.watchlist-select option {
  color: #333; /* Darken option text color for better visibility */
  padding: 10px 15px; /* Adjust padding for better spacing */
}

/* Hover and Focus States */
.watchlist-select:hover,
.watchlist-select:focus {
  border-color: #aaa; /* Darken border on hover and focus for better feedback */
}

/* Selected Option */
.watchlist-select option:checked {
  background-color: #f0f0f0; /* Light gray background for selected option */
}




/* ------------------------------------- TOKEN DETAILS -------------------------------- */

.tokenData-main-container{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  border: #282828 1px solid;
  padding: 1rem;
  border-radius: 5px;
}

.tokenData-item{
  /* border: #007bff solid 1px; */
  width: 100%;
  display: flex;
  margin: 0.5rem 0;
}

.tokenData-title{
  width: 20%;
  font-weight: bold;
  text-transform: capitalize;
}

.tokenData-value{
  width: 80%;
}

.logo{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.token-title{
  font-weight: 500;
  text-transform: capitalize;
}